.home-page {
  display: inline-block;

  div {
    display: inline-block;
  }

  p {
    display: inline-block;
  }

  .text-zone {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    font-family: "Karla", sans-serif;
    font-size: 6rem;
    font-weight: 300;
    transform: translateY(30%);
  }

  .hi-text {
    line-height: 0rem;
  }

  .t-logo {
    width: 10%;
    display: inline-block;
    font-family: "Archivo Black", sans-serif;
    color: #ff66ff;
    text-shadow: -5px 0px 0px #ffff66;
    font-size: 7rem;
    text-align: center;
    margin-top: 0.1em;
    width: 0.6em;
    line-height: 0.7em;
  }

  .emoji {
    position: absolute;
    font-size: 2.8rem;
    margin-top: 1em;
    line-height: 1em;
  }

  .job-title {
    position: absolute;
    font-size: 2.8rem;
    letter-spacing: 0.3em;
    color: #7df9ff;
  }
  // Text Animation
  .text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 0.05em;
  }
  @for $i from 1 through 100 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
    }
  }
  .contact-button {
    line-height: 8em;
    font-family: "Karla", sans-serif;
    color: #ffff66;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 0.4em 0.5em;
    border: 0.1em solid #ffff66;
    animation: fadeIn 1.5s 3.5s backwards;
    border-radius: 1em;
    white-space: nowrap;
    transition: 0.5s;

    &:hover {
      background: #ffff66;
      color: #7df9ff;
    }
  }

  .display-photo {
    position: absolute;
    transform: translateX(100%) translateY(-24%);
    width: 5em;
    line-height: 0%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: fade-in 1.5s 4s forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
}

// Mobile changes

// Zoomed out at 75%
// @media screen and (max-resolution: 60dpi) {
//   .home-page {
//     .text-zone {
//       font-size: 5rem;
//     }
//   }
// }

// Smaller Screen
// @media screen and (max-width: 20in){
//   .home-page {
//     .text-zone {
//       font-size: 10rem;
//     }
//   }
// }
// General Screen

// Smaller Monitors
@media screen and (min-width: 1290px) {
  .home-page {
    div {
      height: 100%;
    }
    .text-zone {
      margin-left: 2.5em;
      font-size: 8rem;
      transform: translateY(40%);
    }
    .t-logo {
      font-size: 9rem;
    }
    .job-title {
      font-size: 3.5rem;
    }
    .emoji {
      font-size: 3.5rem;
      margin-top: 1em;
    }
    .contact-button {
      font-size: 1.7rem;
    }
    .display-photo {
      width: 6em;
      transform: translateX(90%) translateY(-25%);
    }
  }
}

// iPhoneXR
@media screen and (max-width: 414px) {
  .home-page {
    width: 60vw;
    height: 100vw;
    transform: translateX(0%) translateY(60%);
    text-align: center;
    .text-zone {
      width: 100%;
      font-size: 3rem;
      transform: translateY(40%);
    }
    .t-logo {
      font-size: 4rem;
    }
    .emoji {
      font-size: 1.6rem;
    }
    .job-title {
      transform: translateX(-7%);
      font-size: 1.2rem;
    }

    .contact-button {
      font-size: 1rem;
      margin-left: 1em;
    }

    .display-photo {
      width: 100%;
      transform: translateX(-5%) translateY(-100%);
    }
  }
}
// iPhoneSE & Samsung Galaxy S8+
@media screen and (max-width: 380px) {
  .home-page {
    margin: 0;
    width: 70vw;
    height: 100vw;
    transform: translateX(-5%) translateY(50%);
    text-align: center;
    .text-zone {
      width: 100%;
      font-size: 3rem;
      transform: translateY(60%);
    }
    .t-logo {
      font-size: 4rem;
    }
    .emoji {
      font-size: 1.6rem;
    }
    .job-title {
      font-size: 1.3rem;
      transform: translateX(-10%);
    }
    .contact-button {
      font-size: 1rem;
      margin-left: 1em;
    }
    .display-photo {
      width: 100%;
      transform: translateX(-10%) translateY(-95%);
    }
  }
}

// Smaller Monitor zoom at 110%
// @media screen and (max-resolution: 110dpi){
//   .home-page {
//     div {
//       height: 100%;
//     }
//     .text-zone {
//       margin-left: 2.5em;
//       font-size: 8rem;
//       transform: translateY(40%);
//     }
//     .t-logo {
//       font-size: 9rem;
//     }
//     .job-title {
//       font-size: 3.5rem;
//     }
//     .emoji {
//       font-size: 3.5rem;
//       margin-top: 1em;
//     }
//     .contact-button {
//       font-size: 1.7rem;
//     }
//     .display-photo {
//       width: 6em;
//       transform: translateX(90%) translateY(-25%);
//     }
//   }
// }
// // Galaxy Fold
// @media screen and (max-width: 340px) {
//   .home-page {
//     .text-zone {
//       font-size: 3rem;
//     }
//     .t-logo {
//       font-size: 3rem;
//       font-family: sans-serif;
//     }
//   }
// }

// // Very thin screens
// @media screen and (max-width: 260px) {
//   .home-page {
//     .text-zone {
//       font-size: 3rem;
//     }
//     .t-logo {
//       font-size: 3rem;
//       font-family: sans-serif;
//     }
//   }
// }
