.home-page {
  display: flex;
//   .t-logo {
//     width: 10%;
//     display: block;
//     font-family: "Archivo Black", sans-serif;
//     color: #ff66ff;
//     text-shadow: -5px 0px 0px #ffff66;
//     font-size: 6rem;
//     text-align: center;
//     margin-top: 0.1em;
//     line-height: 0.8em;
//   }
  .text-zone {
    width: 100%;
    // height: 100%;
    margin-left: 2em;
    font-family: "Karla", sans-serif;
    font-size: 6em;
    font-weight: 300;
  }
}

// Mobile changes

// Zoomed out at 75%
@media screen and (max-resolution: 75dpi) {
  .home-page {
    .text-zone {
      font-size: 1em;
    }
  }
}

// General Screen
@media screen and (max-width: 1200px) {
  .home-page {
    .text-zone {
      font-size: 1em;
    }
  }
}

// Galaxy Fold
@media screen and (max-width: 340px) {
  .home-page {
    .text-zone {
      font-size: 1em;
    }
  }
}

// Very thin screens
@media screen and (max-width: 260px) {
    .text-zone {
        font-size: 1em;
      }
}
